n8n/workflows/automation/call_outcome_router.json
{
    "name": "Automation_Call_Outcome_Router (Polling)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 1
                        }
                    ]
                }
            },
            "id": "schedule-trigger",
            "name": "Every 1 Minute",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                0,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "hubSpotApi",
                "resource": "deal",
                "operation": "search",
                "filterGroups": {
                    "filters": [
                        {
                            "propertyName": "automation_queue",
                            "operator": "EQ",
                            "value": "queue"
                        }
                    ]
                },
                "additionalFields": {
                    "properties": [
                        "dealname",
                        "call_outcome",
                        "follow_up_date",
                        "automation_queue"
                    ]
                }
            },
            "id": "search-queued-deals",
            "name": "HubSpot: Find Queued Deals",
            "type": "n8n-nodes-base.hubspot",
            "typeVersion": 1,
            "position": [
                200,
                300
            ],
            "credentials": {
                "hubSpotApi": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "HubSpot Account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const outcome = $json.properties.call_outcome || '';\nconst manualDate = $json.properties.follow_up_date;\n\nlet dueDate = new Date();\nif (manualDate) {\n  dueDate = new Date(manualDate);\n} else {\n  if (outcome === 'no_answer' || outcome === 'left_vm') {\n    dueDate.setDate(dueDate.getDate() + 1);\n  } else if (outcome === 'not_interested') {\n    dueDate.setDate(dueDate.getDate() + 90);\n  } else if (outcome === 'not_a_good_time') {\n    dueDate.setDate(dueDate.getDate() + 3);\n  } else if (outcome === 'hot') {\n    dueDate.setHours(dueDate.getHours() + 1);\n  }\n}\n\nreturn {\n  outcome: outcome,\n  due_date: dueDate.toISOString(),\n  object_id: $json.id,\n  address: $json.properties.dealname || 'Unknown Deal'\n};"
            },
            "id": "prepare-logic",
            "name": "Calculate Dates",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{$json.outcome}}",
                "rules": {
                    "rules": [
                        {
                            "operation": "contains",
                            "value2": "no_answer",
                            "output": 0
                        },
                        {
                            "operation": "contains",
                            "value2": "left_vm",
                            "output": 0
                        },
                        {
                            "operation": "equal",
                            "value2": "not_interested",
                            "output": 1
                        },
                        {
                            "operation": "equal",
                            "value2": "not_a_good_time",
                            "output": 2
                        },
                        {
                            "operation": "equal",
                            "value2": "hot",
                            "output": 3
                        }
                    ]
                },
                "fallbackOutput": 4
            },
            "id": "outcome-switch",
            "name": "Switch: Outcome",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "hubSpotApi",
                "resource": "engagement",
                "operation": "create",
                "type": "task",
                "metadata": {
                    "body": "Call back: Missed connection. Prompt follow-up scheduled.",
                    "status": "NOT_STARTED",
                    "subject": "={{'Follow Up: ' + $json.address}}",
                    "completionDate": "={{$json.due_date}}"
                },
                "associations": {
                    "dealIds": [
                        "={{$json.object_id}}"
                    ]
                }
            },
            "id": "task-missed-call",
            "name": "Task: Missed Call",
            "type": "n8n-nodes-base.hubspot",
            "typeVersion": 1,
            "position": [
                900,
                150
            ],
            "credentials": {
                "hubSpotApi": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "HubSpot Account"
                }
            }
        },
        {
            "parameters": {
                "authentication": "hubSpotApi",
                "resource": "engagement",
                "operation": "create",
                "type": "task",
                "metadata": {
                    "body": "Recircle: Lead was not interested 90 days ago. Re-check motivation.",
                    "status": "NOT_STARTED",
                    "subject": "={{'Recircle: ' + $json.address}}",
                    "completionDate": "={{$json.due_date}}"
                },
                "associations": {
                    "dealIds": [
                        "={{$json.object_id}}"
                    ]
                }
            },
            "id": "task-not-interested",
            "name": "Task: 90-Day Recircle",
            "type": "n8n-nodes-base.hubspot",
            "typeVersion": 1,
            "position": [
                900,
                300
            ],
            "credentials": {
                "hubSpotApi": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "HubSpot Account"
                }
            }
        },
        {
            "parameters": {
                "authentication": "hubSpotApi",
                "resource": "engagement",
                "operation": "create",
                "type": "task",
                "metadata": {
                    "body": "Follow up: Timing was bad during last call. interest level is warm.",
                    "status": "NOT_STARTED",
                    "subject": "={{'Follow Up (Better Timing): ' + $json.address}}",
                    "completionDate": "={{$json.due_date}}"
                },
                "associations": {
                    "dealIds": [
                        "={{$json.object_id}}"
                    ]
                }
            },
            "id": "task-not-a-good-time",
            "name": "Task: Better Timing",
            "type": "n8n-nodes-base.hubspot",
            "typeVersion": 1,
            "position": [
                900,
                450
            ],
            "credentials": {
                "hubSpotApi": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "HubSpot Account"
                }
            }
        },
        {
            "parameters": {
                "authentication": "hubSpotApi",
                "resource": "engagement",
                "operation": "create",
                "type": "task",
                "metadata": {
                    "body": "URGENT: Hot prospect. Capitalize on motivation immediately.",
                    "status": "NOT_STARTED",
                    "subject": "={{'PRIORITY CLOSE: ' + $json.address}}",
                    "completionDate": "={{$json.due_date}}"
                },
                "associations": {
                    "dealIds": [
                        "={{$json.object_id}}"
                    ]
                }
            },
            "id": "task-hot-lead",
            "name": "Task: HOT LEAD",
            "type": "n8n-nodes-base.hubspot",
            "typeVersion": 1,
            "position": [
                900,
                600
            ],
            "credentials": {
                "hubSpotApi": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "HubSpot Account"
                }
            }
        },
        {
            "parameters": {
                "authentication": "hubSpotApi",
                "resource": "deal",
                "operation": "update",
                "dealId": "={{$json.object_id}}",
                "updateFields": {
                    "automation_queue": "processed",
                    "dealstage": "={{$node[\"Calculate Dates\"].json.outcome === 'hot' ? '2952819405' : ($node[\"Calculate Dates\"].json.outcome === 'not_interested' ? '2952819403' : '2952819401')}}"
                }
            },
            "id": "mark-processed",
            "name": "Final: Mark Processed",
            "type": "n8n-nodes-base.hubspot",
            "typeVersion": 1,
            "position": [
                1200,
                375
            ],
            "credentials": {
                "hubSpotApi": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "HubSpot Account"
                }
            }
        }
    ],
    "connections": {
        "Every 1 Minute": {
            "main": [
                [
                    {
                        "node": "HubSpot: Find Queued Deals",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HubSpot: Find Queued Deals": {
            "main": [
                [
                    {
                        "node": "Calculate Dates",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Calculate Dates": {
            "main": [
                [
                    {
                        "node": "Switch: Outcome",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch: Outcome": {
            "main": [
                [
                    {
                        "node": "Task: Missed Call",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Task: 90-Day Recircle",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Task: Better Timing",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Task: HOT LEAD",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Task: Missed Call": {
            "main": [
                [
                    {
                        "node": "Final: Mark Processed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Task: 90-Day Recircle": {
            "main": [
                [
                    {
                        "node": "Final: Mark Processed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Task: Better Timing": {
            "main": [
                [
                    {
                        "node": "Final: Mark Processed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Task: HOT LEAD": {
            "main": [
                [
                    {
                        "node": "Final: Mark Processed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}