n8n/workflows/automation/call_outcome_router.json
{
    "name": "Automation_Call_Outcome_Router (Polling)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 1
                        }
                    ]
                }
            },
            "id": "schedule-trigger",
            "name": "Every 1 Minute",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                0,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "appToken",
                "resource": "deal",
                "operation": "search",
                "filterGroupsUi": {
                    "filterGroupsValues": [
                        {
                            "filtersUi": {
                                "filterValues": [
                                    {
                                        "propertyName": "automation_queue",
                                        "operator": "EQ",
                                        "value": "queue"
                                    }
                                ]
                            }
                        }
                    ]
                },
                "properties": [
                    "dealname",
                    "call_outcome",
                    "follow_up_date",
                    "automation_queue",
                    "property_link"
                ]
            },
            "id": "search-queued-deals",
            "name": "HubSpot: Find Queued Deals",
            "type": "n8n-nodes-base.hubspot",
            "typeVersion": 2,
            "position": [
                200,
                300
            ],
            "credentials": {
                "hubspotAppToken": {
                    "id": "sDamMCnWz3OPlhKd",
                    "name": "HubSpot App Token account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "return $input.all().map(item => {\n  const json = item.json;\n  const props = json.properties || json;\n  const getVal = (p) => (p && typeof p === 'object' && p.hasOwnProperty('value')) ? p.value : p;\n\n  const outcome = getVal(props.call_outcome) || '';\n  const manualDate = getVal(props.follow_up_date);\n  const propLink = getVal(props.property_link) || 'No link provided';\n  const address = getVal(props.dealname) || getVal(json.address) || 'Unknown Deal';\n\n  let dueDate = new Date();\n  let hasFollowUp = true;\n  let skipTask = false;\n\n  if (manualDate) {\n    dueDate = new Date(manualDate);\n  } else {\n    // Timing Logic\n    if (outcome === 'no_answer' || outcome === 'left_vm') {\n      dueDate.setDate(dueDate.getDate() + 1);\n    } else if (outcome === 'not_a_good_time') {\n      dueDate.setDate(dueDate.getDate() + 3);\n    } else if (outcome === 'hot') {\n      dueDate.setHours(dueDate.getHours() + 1);\n    } else if (outcome === 'warm') {\n      dueDate.setDate(dueDate.getDate() + 1);\n    } else if (['not_interested', 'wrong_number', 'dnc'].includes(outcome)) {\n      hasFollowUp = false;\n      if (outcome !== 'not_interested') skipTask = true;\n    } else {\n      // Fallback/Incoming\n      dueDate.setDate(dueDate.getDate() + 1);\n    }\n  }\n\n  // HubSpot Date properties require midnight UTC Unix Milliseconds\n  const midnight = hasFollowUp \n    ? new Date(Date.UTC(dueDate.getUTCFullYear(), dueDate.getUTCMonth(), dueDate.getUTCDate())).getTime()\n    : null;\n\n  return {\n    json: {\n      outcome: outcome,\n      due_date: hasFollowUp ? dueDate.toISOString() : null,\n      due_date_timestamp: midnight,\n      object_id: item.json.id,\n      address: address,\n      property_link: propLink,\n      has_follow_up: hasFollowUp,\n      skip_task: skipTask\n    }\n  };\n});"
            },
            "id": "prepare-logic",
            "name": "Calculate Dates",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{$json.outcome}}",
                "rules": {
                    "rules": [
                        {
                            "operation": "contains",
                            "value2": "no_answer",
                            "output": 0
                        },
                        {
                            "operation": "contains",
                            "value2": "left_vm",
                            "output": 0
                        },
                        {
                            "operation": "equal",
                            "value2": "not_interested",
                            "output": 1
                        },
                        {
                            "operation": "equal",
                            "value2": "not_a_good_time",
                            "output": 2
                        },
                        {
                            "operation": "equal",
                            "value2": "hot",
                            "output": 3
                        },
                        {
                            "operation": "equal",
                            "value2": "warm",
                            "output": 3
                        },
                        {
                            "operation": "equal",
                            "value2": "wrong_number",
                            "output": 4
                        },
                        {
                            "operation": "equal",
                            "value2": "dnc",
                            "output": 4
                        }
                    ]
                },
                "fallbackOutput": 0
            },
            "id": "outcome-switch",
            "name": "Switch: Outcome",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "appToken",
                "resource": "engagement",
                "operation": "create",
                "type": "task",
                "metadata": {
                    "body": "={{ 'View Property: ' + $json.property_link + '\\nScheduled Follow-Up: ' + $json.due_date + '\\n\\nOriginal Note: Call back: Missed connection. Prompt follow-up scheduled.' }}",
                    "forObjectType": "Contact",
                    "status": "NOT_STARTED",
                    "subject": "={{'Follow Up: ' + $json.address}}",
                    "dueDate": "={{$json.due_date}}"
                },
                "associationsUi": {
                    "associationsValues": [
                        {
                            "resource": "deal",
                            "id": "={{$json.object_id}}"
                        },
                        {
                            "resource": "contact",
                            "id": "398557576901"
                        }
                    ]
                }
            },
            "id": "task-missed-call",
            "name": "Task: Missed Call",
            "type": "n8n-nodes-base.hubspot",
            "typeVersion": 2,
            "position": [
                900,
                150
            ],
            "credentials": {
                "hubspotAppToken": {
                    "id": "sDamMCnWz3OPlhKd",
                    "name": "HubSpot App Token account"
                }
            }
        },
        {
            "parameters": {
                "authentication": "appToken",
                "resource": "engagement",
                "operation": "create",
                "type": "task",
                "metadata": {
                    "body": "={{ 'View Property: ' + $json.property_link + '\\nScheduled Follow-Up: ' + $json.due_date + '\\n\\nOriginal Note: Recircle: Lead was not interested 90 days ago. Re-check motivation.' }}",
                    "forObjectType": "Contact",
                    "status": "NOT_STARTED",
                    "subject": "={{'Recircle: ' + $json.address}}",
                    "dueDate": "={{$json.due_date}}"
                },
                "associationsUi": {
                    "associationsValues": [
                        {
                            "resource": "deal",
                            "id": "={{$json.object_id}}"
                        },
                        {
                            "resource": "contact",
                            "id": "398557576901"
                        }
                    ]
                }
            },
            "id": "task-not-interested",
            "name": "Task: 90-Day Recircle",
            "type": "n8n-nodes-base.hubspot",
            "typeVersion": 2,
            "position": [
                900,
                300
            ],
            "credentials": {
                "hubspotAppToken": {
                    "id": "sDamMCnWz3OPlhKd",
                    "name": "HubSpot App Token account"
                }
            }
        },
        {
            "parameters": {
                "authentication": "appToken",
                "resource": "engagement",
                "operation": "create",
                "type": "task",
                "metadata": {
                    "body": "={{ 'View Property: ' + $json.property_link + '\\nScheduled Follow-Up: ' + $json.due_date + '\\n\\nOriginal Note: Follow up: Timing was bad during last call. interest level is warm.' }}",
                    "forObjectType": "Contact",
                    "status": "NOT_STARTED",
                    "subject": "={{'Follow Up (Better Timing): ' + $json.address}}",
                    "dueDate": "={{$json.due_date}}"
                },
                "associationsUi": {
                    "associationsValues": [
                        {
                            "resource": "deal",
                            "id": "={{$json.object_id}}"
                        },
                        {
                            "resource": "contact",
                            "id": "398557576901"
                        }
                    ]
                }
            },
            "id": "task-not-a-good-time",
            "name": "Task: Better Timing",
            "type": "n8n-nodes-base.hubspot",
            "typeVersion": 2,
            "position": [
                900,
                450
            ],
            "credentials": {
                "hubspotAppToken": {
                    "id": "sDamMCnWz3OPlhKd",
                    "name": "HubSpot App Token account"
                }
            }
        },
        {
            "parameters": {
                "authentication": "appToken",
                "resource": "engagement",
                "operation": "create",
                "type": "task",
                "metadata": {
                    "body": "={{ 'View Property: ' + $json.property_link + '\\nScheduled Follow-Up: ' + $json.due_date + '\\n\\nOriginal Note: URGENT: Hot prospect. Capitalize on motivation immediately.' }}",
                    "forObjectType": "contact",
                    "status": "NOT_STARTED",
                    "subject": "={{'PRIORITY CLOSE: ' + $json.address}}",
                    "dueDate": "={{$json.due_date}}",
                    "priority": "HIGH"
                },
                "associationsUi": {
                    "associationsValues": [
                        {
                            "resource": "deal",
                            "id": "={{$json.object_id}}"
                        },
                        {
                            "resource": "contact",
                            "id": "398557576901"
                        }
                    ]
                }
            },
            "id": "task-hot-lead",
            "name": "Task: HOT LEAD",
            "type": "n8n-nodes-base.hubspot",
            "typeVersion": 2,
            "position": [
                900,
                600
            ],
            "credentials": {
                "hubspotAppToken": {
                    "id": "sDamMCnWz3OPlhKd",
                    "name": "HubSpot App Token account"
                }
            }
        },
        {
            "parameters": {
                "authentication": "appToken",
                "resource": "deal",
                "operation": "update",
                "dealId": "={{ $('HubSpot: Find Queued Deals').item.json.id }}",
                "propertiesUi": {
                    "propertyValues": [
                        {
                            "property": "automation_queue",
                            "value": "processed"
                        },
                        {
                            "property": "follow_up_date",
                            "value": "={{ $('Calculate Dates').item.json.due_date_timestamp }}"
                        },
                        {
                            "property": "dealstage",
                            "value": "={{ ({\n  'hot':             '3102494422', // Hot Lead\n  'warm':            '3102494421', // Warm Lead\n  'connected':       '3102494420', // Connected - Working\n  'no_answer':       '3102494419', // Attempted - No Connect\n  'left_vm':         '3102494419', // Attempted - No Connect\n  'not_a_good_time': '3102494419', // Attempted - No Connect\n  'not_interested':  '3102494423', // Closed Lost (Not Interested)\n  'wrong_number':    '3102246628', // Closed Lost (Bad Data)\n  'dnc':             '3102246628'  // Closed Lost (Bad Data)\n})[$('Calculate Dates').item.json.outcome] || '3102494418' }}"
                        }
                    ]
                }
            },
            "id": "mark-processed",
            "name": "Final: Mark Processed",
            "type": "n8n-nodes-base.hubspot",
            "typeVersion": 2,
            "position": [
                1200,
                375
            ],
            "credentials": {
                "hubspotAppToken": {
                    "id": "sDamMCnWz3OPlhKd",
                    "name": "HubSpot App Token account"
                }
            }
        }
    ],
    "connections": {
        "Every 1 Minute": {
            "main": [
                [
                    {
                        "node": "HubSpot: Find Queued Deals",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HubSpot: Find Queued Deals": {
            "main": [
                [
                    {
                        "node": "Calculate Dates",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Calculate Dates": {
            "main": [
                [
                    {
                        "node": "Switch: Outcome",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch: Outcome": {
            "main": [
                [
                    {
                        "node": "Task: Missed Call",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Task: 90-Day Recircle",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Task: Better Timing",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Task: HOT LEAD",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Final: Mark Processed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Task: Missed Call": {
            "main": [
                [
                    {
                        "node": "Final: Mark Processed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Task: 90-Day Recircle": {
            "main": [
                [
                    {
                        "node": "Final: Mark Processed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Task: Better Timing": {
            "main": [
                [
                    {
                        "node": "Final: Mark Processed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Task: HOT LEAD": {
            "main": [
                [
                    {
                        "node": "Final: Mark Processed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}