n8n/backups/EEwWIQEgWzMC4wcIh4_uq.json
{
  "updatedAt": "2026-02-09T18:44:00.558Z",
  "createdAt": "2026-02-05T00:55:33.799Z",
  "id": "EEwWIQEgWzMC4wcIh4_uq",
  "name": "Automation_Call_Outcome_Router (Polling)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "6c3c4e60-cae3-4cbc-8c2b-e57f0a53b2e8",
      "name": "Every 1 Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1488,
        1152
      ]
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "deal",
        "operation": "search",
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "automation_queue",
                    "value": "queue"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "9509fcd8-583d-4faa-8bd3-5599191dd32e",
      "name": "HubSpot: Find Queued Deals",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        -1296,
        1152
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "sDamMCnWz3OPlhKd",
          "name": "HubSpot App Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const properties = item.json.properties || {};\n  const outcome = properties.call_outcome || '';\n  const manualDate = properties.follow_up_date;\n  const propLink = properties.property_link || 'No link provided';\n\n  let dueDate = new Date();\n  if (manualDate) {\n    dueDate = new Date(manualDate);\n  } else {\n    if (outcome === 'no_answer' || outcome === 'left_vm') {\n      dueDate.setDate(dueDate.getDate() + 1);\n    } else if (outcome === 'not_interested') {\n      dueDate.setDate(dueDate.getDate() + 90);\n    } else if (outcome === 'not_a_good_time') {\n      dueDate.setDate(dueDate.getDate() + 3);\n    } else if (outcome === 'hot') {\n      dueDate.setHours(dueDate.getHours() + 1);\n    }\n  }\n\n  // HubSpot Date properties require midnight UTC Unix Milliseconds\n  const midnight = new Date(Date.UTC(dueDate.getUTCFullYear(), dueDate.getUTCMonth(), dueDate.getUTCDate()));\n\n  return {\n    json: {\n      outcome: outcome,\n      due_date: dueDate.toISOString(),\n      due_date_timestamp: midnight.getTime(), // This is the fix!\n      object_id: item.json.id,\n      address: properties.dealname || 'Unknown Deal',\n      property_link: propLink\n    }\n  };\n});"
      },
      "id": "a5b9da51-dde2-4be9-aeb2-d40e156bc6e8",
      "name": "Calculate Dates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        1152
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.outcome}}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "no_answer"
            },
            {
              "operation": "contains",
              "value2": "left_vm"
            },
            {
              "value2": "not_interested",
              "output": 1
            },
            {
              "value2": "not_a_good_time",
              "output": 2
            },
            {
              "value2": "hot",
              "output": 3
            }
          ]
        },
        "fallbackOutput": 0
      },
      "id": "2f1f5549-bbea-4910-afc5-5d409fd07d66",
      "name": "Switch: Outcome",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -848,
        1152
      ]
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "engagement",
        "type": "task",
        "metadata": {
          "body": "={{ 'View Property: ' + $json.property_link + '\\nScheduled Follow-Up: ' + $json.due_date + '\\n\\nOriginal Note: Call back: Missed connection. Prompt follow-up scheduled.' }}",
          "forObjectType": "CONTACT",
          "status": "NOT_STARTED",
          "subject": "={{'Follow Up: ' + $json.address}}"
        },
        "additionalFields": {}
      },
      "id": "fa22cf00-54d7-403d-955f-1d2acbb5c027",
      "name": "Task: Missed Call",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        -592,
        976
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "sDamMCnWz3OPlhKd",
          "name": "HubSpot App Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "engagement",
        "type": "task",
        "metadata": {
          "body": "={{ 'View Property: ' + $json.property_link + '\\nScheduled Follow-Up: ' + $json.due_date + '\\n\\nOriginal Note: Recircle: Lead was not interested 90 days ago. Re-check motivation.' }}",
          "forObjectType": "CONTACT",
          "status": "NOT_STARTED",
          "subject": "={{'Recircle: ' + $json.address}}"
        },
        "additionalFields": {}
      },
      "id": "160adc79-e1e4-4f7a-bd23-9e8419d8bff5",
      "name": "Task: 90-Day Recircle",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        -592,
        1152
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "sDamMCnWz3OPlhKd",
          "name": "HubSpot App Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "engagement",
        "type": "task",
        "metadata": {
          "body": "={{ 'View Property: ' + $json.property_link + '\\nScheduled Follow-Up: ' + $json.due_date + '\\n\\nOriginal Note: Follow up: Timing was bad during last call. interest level is warm.' }}",
          "forObjectType": "CONTACT",
          "status": "NOT_STARTED",
          "subject": "={{'Follow Up (Better Timing): ' + $json.address}}"
        },
        "additionalFields": {}
      },
      "id": "8eb7617b-cb0f-41e9-8884-7799ae037a36",
      "name": "Task: Better Timing",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        -592,
        1296
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "sDamMCnWz3OPlhKd",
          "name": "HubSpot App Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "engagement",
        "type": "task",
        "metadata": {
          "body": "={{ 'View Property: ' + $json.property_link + '\\nScheduled Follow-Up: ' + $json.due_date + '\\n\\nOriginal Note: URGENT: Hot prospect. Capitalize on motivation immediately.' }}",
          "forObjectType": "CONTACT",
          "status": "NOT_STARTED",
          "subject": "={{'PRIORITY CLOSE: ' + $json.address}}"
        },
        "additionalFields": {}
      },
      "id": "537f24f7-8bd1-4e4d-b623-7d9646030363",
      "name": "Task: HOT LEAD",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        -592,
        1456
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "sDamMCnWz3OPlhKd",
          "name": "HubSpot App Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "deal",
        "operation": "update",
        "dealId": {
          "__rl": true,
          "value": "={{ $('Calculate Dates').item.json.object_id }}",
          "mode": "id"
        },
        "updateFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "automation_queue",
                "value": "processed"
              },
              {
                "property": "follow_up_date",
                "value": "={{ $('Calculate Dates').item.json.due_date_timestamp }}"
              }
            ]
          },
          "stage": "={{ $('Calculate Dates').item.json.outcome === 'hot' ? '2952819405' : ($('Calculate Dates').item.json.outcome === 'not_interested' ? '2952819403' : '2952819401') }}"
        }
      },
      "id": "206c1ff5-6090-4606-8647-9ede34221a27",
      "name": "Final: Mark Processed",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        -288,
        1232
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "sDamMCnWz3OPlhKd",
          "name": "HubSpot App Token account"
        }
      }
    }
  ],
  "connections": {
    "Every 1 Minute": {
      "main": [
        [
          {
            "node": "HubSpot: Find Queued Deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot: Find Queued Deals": {
      "main": [
        [
          {
            "node": "Calculate Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Dates": {
      "main": [
        [
          {
            "node": "Switch: Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Outcome": {
      "main": [
        [
          {
            "node": "Task: Missed Call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Task: 90-Day Recircle",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Task: Better Timing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Task: HOT LEAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task: Missed Call": {
      "main": [
        [
          {
            "node": "Final: Mark Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task: 90-Day Recircle": {
      "main": [
        [
          {
            "node": "Final: Mark Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task: Better Timing": {
      "main": [
        [
          {
            "node": "Final: Mark Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task: HOT LEAD": {
      "main": [
        [
          {
            "node": "Final: Mark Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "13ef5646-03d6-49af-9c19-469626d44a07",
  "activeVersionId": "10b2bbd1-e655-41ac-88e9-4bde4355a198",
  "versionCounter": 13,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-02-05T00:55:33.799Z",
      "createdAt": "2026-02-05T00:55:33.799Z",
      "role": "workflow:owner",
      "workflowId": "EEwWIQEgWzMC4wcIh4_uq",
      "projectId": "VNV9rSM2JeXyxIFc",
      "project": {
        "updatedAt": "2026-02-05T00:41:53.983Z",
        "createdAt": "2026-02-05T00:41:35.223Z",
        "id": "VNV9rSM2JeXyxIFc",
        "name": "santi santi <santi.at.the.tower@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "47c63571-c0bf-4878-a756-ca8098a5a991"
      }
    }
  ]
}