n8n/backups/EEwWIQEgWzMC4wcIh4_uq.json
{
  "updatedAt": "2026-02-10T03:13:33.774Z",
  "createdAt": "2026-02-05T00:55:33.799Z",
  "id": "EEwWIQEgWzMC4wcIh4_uq",
  "name": "Automation_Call_Outcome_Router (Polling)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "deal",
        "operation": "search",
        "returnAll": true,
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "automation_queue",
                    "value": "queue"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "properties": [
            "call_outcome"
          ]
        }
      },
      "id": "9509fcd8-583d-4faa-8bd3-5599191dd32e",
      "name": "HubSpot: Find Queued Deals",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        -1264,
        1312
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "sDamMCnWz3OPlhKd",
          "name": "HubSpot App Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const json = item.json;\n  const props = json.properties || json;\n  \n  // Robust value extraction\n  const getVal = (p) => (p && typeof p === 'object' && p.hasOwnProperty('value')) ? p.value : p;\n\n  const outcome = getVal(props.call_outcome) || '';\n  const manualDate = getVal(props.follow_up_date);\n  const propLink = getVal(props.property_link) || 'No link provided';\n  const address = getVal(props.dealname) || getVal(json.address) || 'Unknown Deal';\n\n  let dueDate = new Date();\n  let hasFollowUp = true;\n  let skipTask = false;\n\n  if (manualDate) {\n    dueDate = new Date(manualDate);\n  } else {\n    // Timing Logic based on your outcome\n    if (outcome === 'no_answer' || outcome === 'left_vm') {\n      dueDate.setDate(dueDate.getDate() + 1);\n    } else if (outcome === 'not_a_good_time') {\n      dueDate.setDate(dueDate.getDate() + 3);\n    } else if (outcome === 'hot') {\n      dueDate.setHours(dueDate.getHours() + 1);\n    } else if (outcome === 'warm') {\n      dueDate.setDate(dueDate.getDate() + 1);\n    } else if (['not_interested', 'wrong_number', 'dnc'].includes(outcome)) {\n      hasFollowUp = false;\n      // Skip task for Bad Numbers/DNC, but not necessarily for Not Interested (per your routing matrix)\n      if (outcome !== 'not_interested') skipTask = true;\n    } else {\n      // Default fallback for new ingestion/incoming\n      dueDate.setDate(dueDate.getDate() + 1);\n    }\n  }\n\n  // HubSpot Date properties require midnight UTC Unix Milliseconds\n  const midnight = hasFollowUp \n    ? new Date(Date.UTC(dueDate.getUTCFullYear(), dueDate.getUTCMonth(), dueDate.getUTCDate())).getTime()\n    : null;\n\n  return {\n    json: {\n      outcome: outcome,\n      due_date: hasFollowUp ? dueDate.toISOString() : null,\n      due_date_timestamp: midnight,\n      object_id: item.json.id,\n      address: address,\n      property_link: propLink,\n      has_follow_up: hasFollowUp,\n      skip_task: skipTask\n    }\n  };\n});"
      },
      "id": "a5b9da51-dde2-4be9-aeb2-d40e156bc6e8",
      "name": "Calculate Dates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        1312
      ]
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "engagement",
        "type": "task",
        "metadata": {
          "body": "={{ 'View Property: ' + $json.property_link + '\\nScheduled Follow-Up: ' + $json.due_date + '\\n\\nOriginal Note: Call back: Missed connection. Prompt follow-up scheduled.' }}",
          "forObjectType": "CONTACT",
          "status": "NOT_STARTED",
          "subject": "={{'Follow Up: ' + $json.address}}"
        },
        "additionalFields": {}
      },
      "id": "fa22cf00-54d7-403d-955f-1d2acbb5c027",
      "name": "Task: Missed Call",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        -592,
        976
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "sDamMCnWz3OPlhKd",
          "name": "HubSpot App Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "engagement",
        "type": "task",
        "metadata": {
          "body": "={{ 'View Property: ' + $json.property_link + '\\nScheduled Follow-Up: ' + $json.due_date + '\\n\\nOriginal Note: Recircle: Lead was not interested 90 days ago. Re-check motivation.' }}",
          "forObjectType": "CONTACT",
          "status": "NOT_STARTED",
          "subject": "={{'Recircle: ' + $json.address}}"
        },
        "additionalFields": {}
      },
      "id": "160adc79-e1e4-4f7a-bd23-9e8419d8bff5",
      "name": "Task: 90-Day Recircle",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        -592,
        1168
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "sDamMCnWz3OPlhKd",
          "name": "HubSpot App Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "engagement",
        "type": "task",
        "metadata": {
          "body": "={{ 'View Property: ' + $json.property_link + '\\nScheduled Follow-Up: ' + $json.due_date + '\\n\\nOriginal Note: Follow up: Timing was bad during last call. interest level is warm.' }}",
          "forObjectType": "CONTACT",
          "status": "NOT_STARTED",
          "subject": "={{'Follow Up (Better Timing): ' + $json.address}}"
        },
        "additionalFields": {}
      },
      "id": "8eb7617b-cb0f-41e9-8884-7799ae037a36",
      "name": "Task: Better Timing",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        -592,
        1456
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "sDamMCnWz3OPlhKd",
          "name": "HubSpot App Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "engagement",
        "type": "task",
        "metadata": {
          "body": "={{ 'View Property: ' + $json.property_link + '\\nScheduled Follow-Up: ' + $json.due_date + '\\n\\nOriginal Note: URGENT: Hot prospect. Capitalize on motivation immediately.' }}",
          "forObjectType": "CONTACT",
          "status": "NOT_STARTED",
          "subject": "={{'PRIORITY CLOSE: ' + $json.address}}"
        },
        "additionalFields": {}
      },
      "id": "537f24f7-8bd1-4e4d-b623-7d9646030363",
      "name": "Task: HOT LEAD",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        -592,
        1648
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "sDamMCnWz3OPlhKd",
          "name": "HubSpot App Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "deal",
        "operation": "update",
        "dealId": {
          "__rl": true,
          "value": "={{ $('Calculate Dates').item.json.object_id }}",
          "mode": "id"
        },
        "updateFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "automation_queue",
                "value": "processed"
              },
              {
                "property": "follow_up_date",
                "value": "={{ $('Calculate Dates').item.json.due_date_timestamp }}"
              }
            ]
          },
          "stage": "={{ ({\n  'hot':             '3102494422', // Hot Lead\n  'warm':            '3102494421', // Warm Lead\n  'connected':       '3102494420', // Connected - Working\n  'no_answer':       '3102494419', // Attempted - No Connect\n  'left_vm':         '3102494419', // Attempted - No Connect\n  'not_a_good_time': '3102494419', // Attempted - No Connect\n  'not_interested':  '3102494423', // Closed Lost (Not Interested)\n  'wrong_number':    '3102246628', // Closed Lost (Bad Data)\n  'dnc':             '3102246628'  // Closed Lost (Bad Data)\n})[$('Calculate Dates').item.json.outcome] || '3102494418' }}"
        }
      },
      "id": "206c1ff5-6090-4606-8647-9ede34221a27",
      "name": "Final: Mark Processed",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        -368,
        1312
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "sDamMCnWz3OPlhKd",
          "name": "HubSpot App Token account"
        }
      }
    },
    {
      "parameters": {
        "numberOfOutputs": 5,
        "outputLabels": "=",
        "dataType": "string",
        "value1String": "={{$json.outcome}}",
        "rulesString": {
          "rules": [
            {
              "value2": "dnc"
            },
            {
              "value2": "wrong_number"
            },
            {
              "value2": "warm",
              "output": 1
            },
            {
              "value2": "no_answer",
              "output": 1
            },
            {
              "value2": "left_vm",
              "output": 1
            },
            {
              "value2": "not_a_good_time",
              "output": 2
            },
            {
              "value2": "not_interested",
              "output": 3
            },
            {
              "value2": "hot",
              "output": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-dynamic-switch.dynamicSwitch",
      "typeVersion": 1,
      "position": [
        -816,
        1264
      ],
      "id": "9134f1c6-ea50-40d8-b9c0-5b648c5dc474",
      "name": "Dynamic Switch"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1
            }
          ]
        }
      },
      "id": "6c3c4e60-cae3-4cbc-8c2b-e57f0a53b2e8",
      "name": "Every Day",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1488,
        1312
      ]
    }
  ],
  "connections": {
    "HubSpot: Find Queued Deals": {
      "main": [
        [
          {
            "node": "Calculate Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Dates": {
      "main": [
        [
          {
            "node": "Dynamic Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task: Missed Call": {
      "main": [
        [
          {
            "node": "Final: Mark Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task: 90-Day Recircle": {
      "main": [
        [
          {
            "node": "Final: Mark Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task: Better Timing": {
      "main": [
        [
          {
            "node": "Final: Mark Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task: HOT LEAD": {
      "main": [
        [
          {
            "node": "Final: Mark Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dynamic Switch": {
      "main": [
        [
          {
            "node": "Final: Mark Processed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Task: Missed Call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Task: Better Timing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Task: 90-Day Recircle",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Task: HOT LEAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every Day": {
      "main": [
        [
          {
            "node": "HubSpot: Find Queued Deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c375e21e-c849-4a8e-be63-9566b418287a",
  "activeVersionId": "c375e21e-c849-4a8e-be63-9566b418287a",
  "versionCounter": 24,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-02-05T00:55:33.799Z",
      "createdAt": "2026-02-05T00:55:33.799Z",
      "role": "workflow:owner",
      "workflowId": "EEwWIQEgWzMC4wcIh4_uq",
      "projectId": "VNV9rSM2JeXyxIFc",
      "project": {
        "updatedAt": "2026-02-05T00:41:53.983Z",
        "createdAt": "2026-02-05T00:41:35.223Z",
        "id": "VNV9rSM2JeXyxIFc",
        "name": "santi santi <santi.at.the.tower@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "47c63571-c0bf-4878-a756-ca8098a5a991"
      }
    }
  ]
}